<hr>
<a href="https://code.visualstudio.com/"><img src="/gifs/vscbutton.gif" alt="vscode is so handy" height="31" width="88"></img></a>
<a href="https://www.youtube.com/watch?v=klI0Fci_BiM"><img src="/gifs/animegay.gif" alt="anime is gay" height="31" width="88"></img></a>
<a href="https://www.youtube.com/watch?v=4W7quu9K9Xk"><img src="/gifs/miku.gif" alt="miku approved" height="31" width="88"></img></a>
<a href="https://www.mozilla.org/en-US/firefox/"><img src="/gifs/firefox2.gif" alt="use firefox" height="31" width="88"></img></a>
<a href="https://www.nintendo.com/us/"><img src="/gifs/n64.gif" alt="N64 was fun" height="31" width="88"></img></a>
<a href="https://en.wikipedia.org/wiki/Juno_Online_Services"><img src="/gifs/juno.gif" alt="Juno was neat" height="31" width="88"></img></a>
<a href="https://en.wikipedia.org/wiki/PNG"><img src="/gifs/nowebp.png" alt="just say no to webp" height="31" width="88"></img></a>
<a href="https://cosmickitty.moe"><img src="/gifs/digitalme.gif" alt="its me" height="31" width="88"></img></a>
<a href="https://ubuntu.com/download"><img src="/gifs/ubuntu-88x31.gif" alt="ubuntu was my first :3" height="31" width="88"></img></a>
<a href="https://www.youtube.com/watch?v=hvL1339luv0"><img src="/gifs/winmedia.gif" alt="Get Windows Media Player" height="31" width="88"></a>
<a href="https://www.reddit.com/"><img src="/gifs/reddit.gif" alt="reddit is fun" height="31" width="88"></img></a>
<a href="https://en.wikipedia.org/wiki/Kawaii"><img src="/gifs/kawaiibutton.gif" alt="so kawaii" height="31" width="88"></img></a>